body {
	margin: 20px;
}

.myList td {
	width: 20px;
	text-align: center;
	height: 32px;
	font-size: 22px;
	font-family: cursive;
	font-weight: normal;
	border-style: dashed;
	border-color: #A6DDAF;
	border-width: 1px;
}

.hasData {
	background-color: #F0FFEC;
}

.checkbox {
	line-height: 30px;
	border-color: rgb(231, 181, 181);
	border-style: dotted;
	border-width: 1px;
	padding: 4px;
	cursor: pointer;
}

li {
	list-style-type: none;
}

.checkbox input[type="checkbox"]{
	cursor: pointer;
	margin-top: 9px;
	margin-left: -15px;
}

span {
    margin-left: 6px;
}

form {
	margin: -10px 0px 11px 15px;
}

input[type="text"] {
    height: 38px;
}

input[type="submit"] {
    height: 38px;
}

.col-md-10 {
    padding: 0 15px;
}

 {}

 {}

button#clearCompletedTodos {
    margin: 0 14px;
}