body {
	margin: 20px;
}

.myList td {
	width: 20px;
	text-align: center;
	height: 32px;
	font-size: 22px;
	font-family: cursive;
	font-weight: normal;
	border-style: dashed;
	border-color: #A6DDAF;
	border-width: 1px;
}

.hasData {
	background-color: #F0FFEC;
}

span {
	line-height: 30px;
	border-color: rgb(231, 181, 181);
	border-style: dotted;
	border-width: 1px;
	padding: 4px;
	cursor: pointer;
}