body {
	margin: 20px;
}

.myList td{
	width: 24px;
	text-align: center;
	height: 38px;
	font-size: 20px;
	font-family: cursive;
	font-weight: normal;
	border-style: dashed;
	border-color: #A6DDAF;
	border-width: 1px;
}